<html class="has-navbar-fixed-bottom">
	<head>
			<!-- Important -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="google-site-verification" content="ZG4b06o-p9J3BCpoKp2298ppyRKkKFMZKBt4AYwDSwI" />

			<!-- Normal Meta -->
			<meta name="description" content="YOU want to win some ITCH.IO/STEAM Keys then you should visit this site">
			<meta name="keywords" content="giveway, give, steam, itchio">
			<meta name="author" content="Kazu">
			<meta name="theme-color" content="#27ae60" />
			<meta name="color" content="#27ae60" />

			<!--Facebook Meta-->
			<meta property="og:url"                content="https://new.enjuu.click/" />
			<meta property="og:type"               content="website" />
			<meta property="og:title"              content="${titlebar} - GGWays" />
			<meta property="og:description"        content="YOU want to win some ITCH.IO/STEAM Keys then you should visit this site" />
			<meta property="og:image"              content="/icon.ico" />
			
			<link rel="icon" href="/icon.ico" type="image/ico" sizes="16x16">
			<!-- Title -->
			<title>${titlebar} - GGWays</title>
			
			<!-- Style -->
			<link href="/semantic.min.css" rel="stylesheet" type="text/css">
			<link href="/style.css" rel="stylesheet" type="text/css">
			<script src="/jquery-3.1.1.min.js"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
			
			
	</head>
	<body>
	<div class="wrapper">
	<#include "navbar.html">
</html>