<html>
	<head>
			<meta name="description" content="With this site you can easily get some Keys that you can Reedem or Give some of your Friend. Admins will restock Keys every week. This Service is new so give it a Chance">
			<meta name="keywords" content="freesteamkeys, keys, steam, itch.io, kazuki">
			<meta name="author" content="Kazuki">
			<meta name="theme-color" content="#094959" />
			<meta name="color" content="#094959" />
			<meta property="og:url"                content="https://gg.kazukii.me/" />
			<meta property="og:type"               content="website" />
			<meta property="og:title"              content="${titlebar}" />
			<meta property="og:description"        content="With this site you can easily get some Keys that you can Reedem or Give some of your Friend. Admins will restock Keys every week. This Service is new so give it a Chance" />
			<script type="text/javascript" src="https://load.fomo.com/ads/load.js?id=uTvu96f8W-aE3P8KWeIf-g" async></script>
			<link rel="icon" href="http://www.lequzhai.com/data/out/8/482257.ico" type="image/ico" sizes="16x16">
			<title>${titlebar}</title>
			<link rel="stylesheet" type="text/css" href="https://enjuu.click/static/semantic.min.css?1543246520166371666">
			<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
			<script src="https://enjuu.click/static/dist.min.js?1543246520166371666"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	</head>
	<body class="has-navbar-fixed-bottom">
	<div class="wrapper">
	<#include "navbar.html">
