<html class="has-navbar-fixed-bottom">
	<head>
			<!-- Important -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="google-site-verification" content="ZG4b06o-p9J3BCpoKp2298ppyRKkKFMZKBt4AYwDSwI" />

			<!-- Normal Meta -->
			<meta name="description" content="YOU want to win some ITCH.IO/STEAM Keys then you should visit this site">
			<meta name="keywords" content="giveway, give, steam, itchio">
			<meta name="author" content="Kazu">
			<meta name="theme-color" content="#27ae60" />
			<meta name="color" content="#27ae60" />

			<!--Facebook Meta-->
			<meta property="og:url"                content="https://new.enjuu.click/" />
			<meta property="og:type"               content="website" />
			<meta property="og:title"              content="${titlebar} - GGWays" />
			<meta property="og:description"        content="YOU want to win some ITCH.IO/STEAM Keys then you should visit this site" />
			<meta property="og:image"              content="http://www.lequzhai.com/data/out/8/482257.ico" />

			<script type="text/javascript" src="https://load.fomo.com/ads/load.js?id=uTvu96f8W-aE3P8KWeIf-g" async></script>
			
			<link rel="icon" href="http://www.lequzhai.com/data/out/8/482257.ico" type="image/ico" sizes="16x16">
			<!-- Title -->
			<title>${titlebar} - GGWays</title>
			
			<!-- Style -->
			<link rel="stylesheet" type="text/css" href="https://enjuu.click/static/semantic.min.css?1543246520166371666">
			<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
			<script src="https://enjuu.click/static/dist.min.js?1543246520166371666"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
			
			
	</head>
	<body>
	<div class="wrapper">
	<#include "navbar.html">
</html>