<#include "base.html">
<div class="ui margined container" id="messages-container">
<div class="ui container"></div>
	<#if loggedin == "true">
	<a href="/addgiveaway"><button class="ui fluid basic button">
			<i class="fas fa-plus-square"></i>
			Create Giveaway
		</button></a>
		<br>
	</#if>
	<#list giveway>

	<div class="ui segment">
		<h1>Our Giveaways</h1>
			<div class="ui special cards">
		<#items as changelogitem>
			<div class="ui card">
				  <div class="image">
					<img src="${changelogitem.image}">
				  </div>
				  <div class="content">
					<a class="header">${changelogitem.title}</a>
					<div class="description">
					  ${changelogitem.description}
					</div>
				  </div>
				  <div class="extra content">
							<a href="/view?id=${changelogitem.ID}"><button class="fluid ui blue button">Do Giveaway</button></a>
				  </div>
				</div>
		</#items>
		</div>
	<#else>
	  <p>No Giveways are running right now</p>
	</#list>
</div>
  
</div>

</div>
</div>
</body>
</html>
<#include "footer.html">