<#include "base.html">
<br>
<div class="ui raised very padded text center aligned segment container segment">
		<img src="http://www.lequzhai.com/data/out/8/482257.ico" style="max-width: 100%;">
</div>
<div class="ui raised very padded text container segment">
  <h2 class="ui header">Win Steam or Itch.IO Keys with GGiveways!</h2>
  <p></p>
  <p>With this site you can easily get some Keys that you can Reedem or Give some of your Friend. Admins will restock Keys every week. This Service is new so give it a Chance</p>
</div>
</div>
</body>
</html>
<#include "footer.html">