<#include "base.html">
<br>

<div class="ui raised very padded text center aligned segment container segment">
  
  
  <h1>Admin</h1>

  <p>The admin manages the website and most of the sweepstakes.</p>
  <div class="ui card center aligned">
    <div class="image">
      <img src="https://a.enjuu.click/1008">
    </div>
    <div class="content">
      <a class="header">Kazuki</a>
      <div class="description">
        Main Developer and Project Lead
      </div>
    </div>
  </div>

  <h1>Moderators</h1>

  <p>The moderator takes care of everything</p>

  <div class="ui card center aligned">
    <div class="image">
      <img src="https://a.enjuu.click/3371">
    </div>
    <div class="content">
      <a class="header">Lstar aka Eklig</a>
      <div class="description">
        Discord Moderator
      </div>
    </div>
  </div>

  <div class="ui card center aligned">
    <div class="image">
      <img src="https://a.enjuu.click/1053">
    </div>
    <div class="content">
      <a class="header">Iceflowergames</a>
      <div class="description">
        Discord Moderator
      </div>
    </div>
  </div>

</div>

</div>
</div>
</body>
</html>
<#include "footer.html">