<#include "base.html">
<#if loggedin == "false">
<br>

<div class="ui raised very padded text container segment">
  <img src="${image}" alt="" class="responsive">

  <h2>${titlebar}</h2>
  <p>${description}</p>

  ${giveway}
  <br>
  <div class="ui green label">
    <i class="fas fa-clock"></i> ${timestamp}
  </div>
  <div class="ui blue label">
    <i class="fas fa-eye"></i> ${views}
  </div>
  <div class="ui purple label">
    Verified
  </div>
</div>
</div>
</div>

<#else>
<div class="ui margined container" id="messages-container">
<div class="ui stackable grid">
  <div class="four wide column">
    <div class="ui fluid vertical menu">
      <a class="item" href="/delete?id=${id}">Delete Giveaway</a>
      <a class="item" href="/edit?id=${id}">Edit</a>
      <a class="item" href="/post?id=${id}">Post to Discord</a>
      <#if enabled == "1">
      <a class="item" href="/hide?id=${id}">Hide</a>
      <#else>
      <a class="item" href="/show?id=${id}">Show</a>
      </#if>
    </div>
  </div>
  
      <div class="twelve wide column">
        <div class="ui segment">
         
          <img src="${image}" alt="" class="responsive">

        <h2>${titlebar}</h2>
        <p>${description}</p>

        ${giveway}

        <br>
        <div class="ui green label">
          <i class="fas fa-clock"></i> ${timestamp}
        </div>
        <div class="ui blue label">
          <i class="fas fa-eye"></i> ${views}
        </div>
        <div class="ui purple label">
          <i class="fas fa-check"></i> Verified
        </div>

        </div>
      </div>
    </div>
  </div>
</#if>
</div>
</body>
</html>
<#include "footer.html">